.header {
	width: inherit;
	padding-bottom: 1rem;
}

.inputField {
	width: 15rem;
}

.searchInput {
	border: none;
	background: transparent;
	margin: 0;
	padding: 7px 8px;
	font-size: 14px;
	color: inherit;
	border: 1px solid transparent;
	border-radius: inherit;
}

.searchInput::placeholder {
	font-size: 0.75rem;
	color: #737373;
}

.searchButton {
	text-indent: -999px;
	overflow: hidden;
	width: 40px;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
	border-radius: inherit;
	background: transparent
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
		no-repeat center;
	cursor: pointer;
	opacity: 0.7;
}

.searchButton:hover {
	opacity: 1;
}

.searchButton:focus,
.searchInput:focus {
	box-shadow: 0 0 3px 0 #fff;
	border-color: #fff;
	outline: none;
}

.imageDiv {
	text-align: -webkit-center;
	
}
.header {
	border-bottom: 0.1mm ridge rgba(113, 113, 103, 0.6);
}

.anchor {
	width: 90px;
}

.iconsDiv {
	display: flex;
	float: left;
    margin-left: 2rem;
    margin-top: 1rem;
}

.row {
	max-width: 100%;
}
.listButton {
	float: right;
    margin-top: 1rem;
}
.ListGroup {
	align-items: self-end;
}
.links {
	text-decoration: none;
}

.iconTag {
	align-self: center;
}