/* ProductCarousel.css */

/* Custom styles for round arrows */
.carousel-arrow.round-arrow {
  background-color: #f0f0f0; /* Light gray background color */
  border: 2px solid #999; /* Gray border */
  border-radius: 50%; /* Make the arrows round */
  color: #999; /* Gray color for the arrow */
  padding: 10px; /* Adjust the padding as needed */
  font-size: 20px; /* Adjust the font size as needed */
}

.carousel-arrow.round-arrow:hover {
  background-color: #ddd; /* Darker gray background on hover */
  cursor: pointer; /* Show a pointer cursor on hover */
}
